@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: red;
  text-decoration: underline;
}

.imagen-top {
  width: 600px;
}

.menu   {
  margin-right: 10px;
}
