{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'assets/estilos/estilos.css' %}" rel="stylesheet" type="text/css">
  <title>Saludo</title>
</head>
<body>
  <h1>HOLA !!!!</h1>
  <a href="https://www.google.com" class="menu">Ir a Google</a>
  <a href="{% url 'nuevosaludo' %}" class="menu">Nuevo Saludo</a>
  <!-- <img src="{% static 'assets/imagenes/wallpaper.png' %}" alt="imagen" class="imagen-top"> -->
  {% comment %}
  <img src="{% static 'assets/imagenes/wallpaper.png' %}" alt="imagen" class="imagen-top">
  {% endcomment %}

</body>
</html>