{% extends "principal/base.html"%}
{% load static %}

{% block navegacion%}

  {% for categoria in categorias %}
    <li class="nav-item">
      <a class="nav-link " href="{% url 'tecnologia' idcategoria=categoria.idcategoria %}">{{ categoria.nombre }}</a>
    </li>
  {% endfor %}

{% endblock %}

{% block titulo %}Formulario Contacto{% endblock %}

{% block contenido %}

    <form method="post">
      {% csrf_token %}
      {% for campo in formulario %}
        <div class="form-group">
          <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
          {{ campo }}
          {% if campo.help_text %}
            <small id="{{ campo.id_for_label }}" class="form-text text-muted">{{ campo.help_text }}</small>
          {% endif %}
        </div>
      {% endfor %}

      {% if mensajes and mensajes.enviado %}
      <div class="alert alert-success mt-3" role="alert">
        {{ mensajes.resultado }}
      </div>
      {% endif %}
      {% if mensajes and not mensajes.enviado %}
      <div class="alert alert-danger mt-3" role="alert">
        <h4>Errores</h4>
        {{ mensajes.resultado }}
      </div>
      {% endif %}

      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>


{% endblock %}