{% extends "principal/base.html"%}
{% load static %}

{% block navegacion%}

  {% for categoria in categorias %}
    <li class="nav-item">
      <a class="nav-link " href="{% url 'tecnologia' idcategoria=categoria.idcategoria %}">{{ categoria.nombre }}</a>
    </li>
  {% endfor %}
  <li class="nav-item">
    {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    {% endif %}
  </li>

{% endblock %}

{% block titulo %}
  {% if user.is_authenticated %}
    {{ user.first_name }} {{ user.last_name }}
  {% else %}
    {{titulo}}
  {% endif %}
{% endblock %}

{% block contenido %}

  <h1>Página restringida</h1>

{% endblock %}